  <title>KOLLAGE</title>
  <meta charset="utf-8">
  <meta name="application-name" content="KOLLAGE" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1, shrink-to-fit=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="theme-color" content="#202428">
  <link rel="icon" href="/favicons/favicon.ico">
  <link rel="apple-touch-icon" href="/favicons/appletouch.png" sizes="180x180">
  <link rel="shortcut icon"    href="/favicons/appletouch.png" sizes="180x180">
  <link rel="stylesheet" href="/styles/global.css">
  <link rel="stylesheet" href="/styles/common.css">
  <link rel="stylesheet" href="/styles/xapp.css">
