  <footer>
    <div class="footMenu"><a href="/faq">FAQ</a> <small>•</small> <a href="/terms">Terms</a> <small>•</small> <a href="/privacy">Privacy</a> <small>•</small> <a href="/support">Support</a> <small>•</small> <a href="/deeplink">xApp</a> <small>•</small> <a noref onclick="app.utils.changeTheme()" id="text-theme">Lite Mode</a></div>
    <div class="footRights">&copy; KOLLAGE 2023</div>
  </footer>
  <script>let session = <%-JSON.stringify(session,null,4)%></script>
  <script src="/scripts/xumm-pkce.js"></script>
  <script src="/scripts/xumm-sdk.js"></script>
  <script src="/scripts/common.js"></script>
