export ARWEAVE_KEY='arweave-key'
export DATABASE='postgres://postgres:guest@localhost:5432/kollage'
export EXPLORER='https://livenet.xrpl.org'
export GATEWAY='https://arweave.net'
export ISSUER_ACCT='rAddress'
export MINTER_ACCT='rAddress'
export MINTER_KEY='sSecret'
export NETWORK='mainnet'
export RPCURL='https://xrplcluster.com'
export WSSURL='wss://s1.ripple.com'
export XUMM_KEY='xumm-key'
export XUMM_SEC='xumm-secret'
